.image-title{
  text-align: center;
}


/*================*/

.slick-slider {
    width: 80%;
    margin: 2% 10%;
}

.slick-slide {
    background: white;
    color: white;
    padding: 20px 0;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}

.image-display{
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
}

.slick-prev:before,
.slick-next:before {
    color: silver;
}

.slick-dots {
    bottom: -40px;
}

/*
 * Caption component
 */
.box{
  position: relative;
}

.overbox{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0;
}

.box:hover .overbox {
  opacity: .6;
}

.title-overtext{
  margin-top: 50px;
}

.tagline-overtext{
  margin-top: 50px;
}
