<template name="discounts">
  <div class="row discounts-view">
    <div class="col-md-3">
      <h2>Housing</h2>
      <ul>
      {{#each discount}}
        {{> discountItem}}
      {{/each}}
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Food/Drinks</h2>
      <ul>
      {{#each discount}}
        {{> discountItem}}
      {{/each}}
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Events</h2>
      <ul>
      {{#each discount}}
        {{> discountItem}}
      {{/each}}
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Technology</h2>
      <ul>
      {{#each discount}}
        {{> discountItem}}
      {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="discountItem">
    <li>
      {{name}}
      <!--save the discount-->
      [<a href="#" class="save-discount">Save</a>]
      <!-- -->
      <br />
      {{starCount}} people starred this!
    </li>
</template>
