#error_message {
	color: red;
}

.login-page{
	margin: 0 auto 100px;
	padding: 45px;
	width: 350px;
	background: #ADD8E6;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: white;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 10px;
	font-size: 16px;
}

.form .register-form
{
	display: none;
}


