<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src = "
	https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
</head>
<template name="login">
	<div class="login-page">
		<div class="form">
    	<form class="login-form">
    		<p id="login-header"><h2>Login</h2> </p>
        	<p><input type="email" placeholder="Email"></p>
        	<p><input type="password" placeholder="Password"></p>
        	<p><input type="submit" value="Login"></p>
       		<p class="message">Already registered? <a href="#">Create an account.</a></p>
    	</form>
   
    	<form class="register-form">
    		<p id="register-header"><h2>Register</h2></p>
    		<p><input type="text" placeholder="Name"></p>
    		<p><input type="email" placeholder="Email"></p>
    		<p><input type="password" placeholder="Password"></p>
    		<p><input type="submit" value="Register"></p>
    		<p class="message">Not registered? <a href="#">Sign in.</a></p>
    	</form>
    	<p id="error_message"></p>
    	</div>
	</div>


<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
</template>


<!--<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name" />
      <input type="password" placeholder="password" />
      <input type="text" placeholder="email address" />
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username" />
      <input type="password" placeholder="password" />
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
-->
